#s-53f32546-6982-4584-baa8-215eb8d9d9ed #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53f32546-6982-4584-baa8-215eb8d9d9ed #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53f32546-6982-4584-baa8-215eb8d9d9ed #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53f32546-6982-4584-baa8-215eb8d9d9ed #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53f32546-6982-4584-baa8-215eb8d9d9ed #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53f32546-6982-4584-baa8-215eb8d9d9ed #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53f32546-6982-4584-baa8-215eb8d9d9ed #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53f32546-6982-4584-baa8-215eb8d9d9ed #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53f32546-6982-4584-baa8-215eb8d9d9ed #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53f32546-6982-4584-baa8-215eb8d9d9ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}