#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 {
  background-color: transparent;
  background-image: none;
  min-width: 1280px;
  min-height: 719px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Group_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 70px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 70px;
  background-color: #D9D9D9;
  background-image: -moz-linear-gradient(top,#D9D9D9,#9E9E9E);
  background-image: -webkit-linear-gradient(top,#D9D9D9,#9E9E9E);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#D9D9D9), color-stop(100%,#9E9E9E));
  background-image: -o-linear-gradient(top,#D9D9D9,#9E9E9E);
  background-image: linear-gradient(to bottom,#D9D9D9,#9E9E9E);
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 8px 0px #404040;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 70px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Showcard Gothic,Arial;
  font-size: 26pt;
  font-style: normal;
  font-weight: 400;
  line-height: 26pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_21 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Group_10 {
  position: absolute;
  top: 10px;
  left: 220px;
  width: 861px;
  height: 46px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 861px;
  height: 46px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Image_13 {
  position: absolute;
  top: 5px;
  left: 819px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Group_2 {
  position: absolute;
  top: 71px;
  left: 0px;
  width: 220px;
  height: 648px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 220px;
  height: 648px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 4px 4px 10px 0px #404040;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_13 {
  position: absolute;
  top: 64px;
  left: 9px;
  width: 206px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_2 {
  position: absolute;
  top: 60px;
  left: 75px;
  width: 140px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Image_4 {
  position: absolute;
  top: 76px;
  left: 26px;
  width: 33px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_3 {
  position: absolute;
  top: 3px;
  left: 8px;
  width: 208px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_1 {
  position: absolute;
  top: 0px;
  left: 75px;
  width: 141px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Image_2 {
  position: absolute;
  top: 10px;
  left: 23px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_14 {
  position: absolute;
  top: 124px;
  left: 9px;
  width: 208px;
  height: 52px;
  background-color: #6DFD6F;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_4 {
  position: absolute;
  top: 120px;
  left: 75px;
  width: 143px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Image_5 {
  position: absolute;
  top: 135px;
  left: 28px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_15 {
  position: absolute;
  top: 183px;
  left: 8px;
  width: 208px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_3 {
  position: absolute;
  top: 180px;
  left: 75px;
  width: 142px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Image_6 {
  position: absolute;
  top: 190px;
  left: 24px;
  width: 41px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Hotspot_2 {
  position: absolute;
  top: 78px;
  left: 10px;
  width: 200px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Hotspot_1 {
  position: absolute;
  top: 137px;
  left: 10px;
  width: 200px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Group_1 {
  position: absolute;
  top: 97px;
  left: 428px;
  width: 660px;
  height: 135px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 660px;
  height: 135px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 8px 1px #404040;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_6 {
  position: absolute;
  top: 32px;
  left: 294px;
  width: 203px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Image_3 {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 229px;
  height: 62px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_5 {
  position: absolute;
  top: 88px;
  left: 294px;
  width: 98px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_7 {
  position: absolute;
  top: 88px;
  left: 391px;
  width: 155px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_8 {
  position: absolute;
  top: 88px;
  left: 25px;
  width: 145px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Image_8 {
  position: absolute;
  top: 80px;
  left: 562px;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_9 {
  position: absolute;
  top: 89px;
  left: 174px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 22pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_15 {
  position: absolute;
  top: 32px;
  left: 496px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_15 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Group_3 {
  position: absolute;
  top: 274px;
  left: 428px;
  width: 660px;
  height: 135px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 660px;
  height: 135px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 8px 1px #404040;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_10 {
  position: absolute;
  top: 32px;
  left: 294px;
  width: 203px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_11 {
  position: absolute;
  top: 88px;
  left: 294px;
  width: 98px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_12 {
  position: absolute;
  top: 88px;
  left: 391px;
  width: 155px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_12 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_13 {
  position: absolute;
  top: 88px;
  left: 25px;
  width: 145px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_13 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Image_9 {
  position: absolute;
  top: 80px;
  left: 562px;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_14 {
  position: absolute;
  top: 89px;
  left: 174px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 22pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_14 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_16 {
  position: absolute;
  top: 32px;
  left: 496px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_16 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Image_1 {
  position: absolute;
  top: 13px;
  left: 79px;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Group_4 {
  position: absolute;
  top: 256px;
  left: 562px;
  width: 346px;
  height: 178px;
  display: none;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 346px;
  height: 178px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 10px 1px #404040;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_22 {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 309px;
  height: 67px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_22 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_23 {
  position: absolute;
  top: 104px;
  left: 54px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #6ACA6B;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 36pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_23 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_24 {
  position: absolute;
  top: 104px;
  left: 245px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #D22000;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 36pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_24 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Hotspot_3 {
  position: absolute;
  top: 256px;
  left: 10px;
  width: 200px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Group_12 {
  position: absolute;
  top: 20px;
  left: 1099px;
  width: 154px;
  height: 30px;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_25 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_26 {
  position: absolute;
  top: 0px;
  left: 129px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM,Arial;
  font-size: 22pt;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 #s-Label_26 .valign {
  vertical-align: middle;
}
#s-ed44bc30-0c2c-4316-8459-c8da4e9ad307 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}